*.py[cod]
.*
!.babelrc
!.svgrrc.js
!.huskyrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslint*
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.prettier*
!.pylintrc
!.travis*
!.tx
!.isort.cfg
!.editorconfig
*.css
*.log
*.pot
*.pyc
*.sqlite3
*.lock
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*


# data
venv
coverage.xml
newrelic.ini
init*.sql

#tmp
celerybeat-*

#pytest
MagicMock/

*.env.*
!back.env
